<nav class="relative" role="navigation">
  <ul class="flex m-0 p-0 list-none">
    <li class="p-5 hover:border-b-2 border-yellow" data-test-rr="details-nav-item">
      <LinkTo @route="bands.band.details">Details</LinkTo>
    </li>
    <li class="p-5 hover:border-b-2 border-yellow" data-test-rr="songs-nav-item">
      <LinkTo @route="bands.band.songs">Songs</LinkTo>
    </li>
  </ul>
</nav>

{{outlet}}