<div class="rr-container container mx-auto">
  <div class="flex border-b-2 border-white my-2 py-2">
    <LinkTo @route="index" class="flex-1 hover:text-yellow">
      <h1 class="text-lg">{{fa-icon "music"}} Rock & Roll<small> with Ember.js</small></h1>
    </LinkTo>

    {{#if this.session.isAuthenticated}}
      <div class="flex-1 text-right">
        <span data-test-rr="user-email">{{this.session.data.authenticated.userEmail}}</span>
        |
        <span><LinkTo @route="logout" data-test-rr="logout">Logout</LinkTo></span>
      </div>
    {{/if}}
  </div>
  <div class="container mx-auto">
    {{outlet}}
  </div>
</div>
